<div class="bg-darkblue">
    <div class="container text-white">
        <div class="justify-content-center align-items-center d-flex mb-4">
            <app-titulo></app-titulo>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" *ngFor="let item of options">
                <div class="card-opcional">
                    <img src="assets/svg/three-dots.svg" alt="" class="three_dots">
                    <h4 class="title">{{item.name}}</h4>
                    <div class="d-flex price">
                        <img src="assets/svg/yelow_price.svg" alt="">
                        <h4 class="m-0 ">${{item.price |optionals:propuesta.solidarity_usd :propuesta.clients.regions_id }} <span *ngIf="propuesta.clients.regions_id!=1">USD</span> </h4>
                        
                    </div>
                    <div [innerHTML]="item.description" class="m-0">
                        


                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>