<div class="bg-darkblue">
    <div class="container text-white">
        <div class="justify-content-center align-items-center d-flex mb-4">
            <app-titulo></app-titulo>
        </div>
        <div class="row">
            <div class="col" *ngFor="let item of [1,2]">
                <div class="card-opcional">
                    <img src="assets/svg/three-dots.svg" alt="" class="three_dots">
                    <h4 class="title">UX/UI Mobile</h4>
                    <div class="d-flex price">
                        <img src="assets/svg/yelow_price.svg" alt="">
                        <h4 class="m-0 ">350 USD</h4>
                        
                    </div>
                    <p class="m-0">
                        Más de 70% de las visitas al sitio web son desde celulares. 
Entonces, ¿por qué no hacemos un diseño exclusivo para 
estos dispositivos?.
Pensamos una estructura y diseño exclusivo para 
celulares, para hacer de la experiencia del usuario, 
sublime!


                    </p>
                </div>
            </div>
            
        </div>
    </div>
    
</div>