

.background2{
    background: url('./../../../../../assets/images/Section1.png') ;
    
    background: linear-gradient(180deg, rgba(0, 33, 75, 0.00) 69.97%, #00214B 99.91%), url('./../../../../../assets/images/Section1.png'), lightgray 50% / cover no-repeat;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.main{
    z-index: 1;
}


.padding_especial{
    padding-top: 110px;
    height: 100%;
    min-height: 100vh;
}

.text-yellow{
    color: var(--mainYellow);
}

.mano{
    width: 50px;
    margin-right: 10px;
    transform: translateY(-3px);
}


.cohete img{
    position: absolute;
    bottom: 0;
}

ng-lottie{
    bottom: 0;  
    width: 100%;
    position: relative
}
@media (max-width:1300px){
    ng-lottie{
        width: 100% !important;
        position: relative;
    }

    .prices-container{
        width: 100%!important;
    }

    
}


