.bg-jungle{
    background: url('./../../../../../assets/images/Section1.png');
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: -1;
    background-position: center;
    
    bottom: 0;
    top:0;
    // filter: blur(2px);
    position: absolute; 
}

.contenedor{
    padding: 100px 0;
    padding-bottom: 10vh;
}