<div class="navbar-mobile">
    <div class="icon-chimpa" *ngIf="title==undefined">
        <img src="./../../../../../../assets/svg/Logotipo.svg" alt="">
    </div>
    <div class="titles" *ngIf="title">
        <h2 class="title"><span (click)="goBack()"><img src="./../../../../../../assets/svg/flecha.svg" alt=""></span>{{title}}</h2>
        <h2>{{subtitle}}</h2>
    </div>
    <div class="menu">
        <div *ngIf="showMenu" class="list-menu">
            <div>
                <img src="./../../../../../../assets/svg/exit.svg" (click)="openClose()" alt="">
                <ul>
                    <li *ngFor="let item of routes"><a (click)="redirectTo(item.route)">{{item.name}}</a></li>
                </ul>
            </div>
        </div>
        <a *ngIf="showMenuDots && title" target="_blank" href="https://web.whatsapp.com/send?phone=+5493516503470&amp;text=Buenos%20días,%20quiero%20mas%20info%20sobre%20desarrollo%20web">
            <img  src="./../../../../../../assets/svg/phone.svg" alt="">
        </a>
        <img  *ngIf="showMenuDots " (click)="openClose()" src="./../../../../../../assets/svg/three-dots.svg" alt="">
    </div>
</div>