<div class="navbar-mobile">
    <div class="icon-chimpa" *ngIf="title==undefined">
        <img src="./../../../../../../assets/svg/Logotipo.svg" alt="">
    </div>
    <div class="titles" *ngIf="title">
        <h2 class="title"><span (click)="goBack()"><img src="./../../../../../../assets/svg/flecha.svg" alt=""></span>{{title}}</h2>
        <h2>{{subtitle}}</h2>
    </div>
    <div class="menu">
        
        <a *ngIf="showMenuDots && title" target="_blank" href="https://api.whatsapp.com/send?phone=+5493516503470&text=Buenos%20d%C3%ADas,%20quiero%20mas%20info%20sobre%20desarrollo%20web">
            <img  src="./../../../../../../assets/svg/phone.svg" alt="">
        </a>
    </div>
</div>