<section id="comparar">
    <div class="container text-white">
        <div class="mb-4">
            <app-titulo title="Compara las opciones"></app-titulo>
        </div>

        <div class="grid grid-cols-3 gap-4  w-full" *ngIf="options$ | async as opciones">
            <div class="flex relative pb-[60px] col-span-1 flex-col w-full h-full border-lightBlue rounded p-6 relative"
                [ngClass]="{'bg-darkblue' : index == actual}" data-aos="fade-left" data-aos-duration="800"  [attr.data-aos-delay]="200 * (index + 1)" *ngFor="let item of opciones, let index = index">
                <span
                    class="absolute top-0 bg-secondary2 py-2 px-4 right-[10px] transform translate-y-[-50%] rounded text-sm"
                    *ngIf="index==actual">Actual</span>
                <h5 class="font-light uppercase text-lightBlue text-[14px]">Opcion {{index+1}}</h5>
                <h4 class="title">{{item.name}}</h4>
                <div *ngIf="index == actual">
                    <h4 *ngFor="let item of added" class="title">+ {{item.name}}</h4>
                </div>
                <div [innerHTML]="item.description" class="py-4"></div>
                <div *ngIf="index==actual">
                    <h4 class="pt-1 text-yellow text-4xl absolute left-[20px] bottom-[10px]"
                        *ngIf="region$ |async as region">
                        <span *ngIf="region.id == 1" class="text-2xl">$</span>
                        <span *ngIf="region.id != 1" class="text-2xl font-light">USD</span>
                        {{actualPrice.price | optionals:region.solidarity_usd:region.id}}
                    </h4>
                </div>
                <div *ngIf="index!=actual">
                    <h4 class="pt-1 text-yellow text-4xl absolute left-[20px] bottom-[10px]"
                        *ngIf="region$ |async as region">
                        <span *ngIf="region.id == 1" class="text-2xl">$</span>
                        <span *ngIf="region.id != 1" class="text-2xl font-light">USD</span>
                        {{item.price | optionals:region.solidarity_usd:region.id}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>