.container{
    padding: 5rem 3rem ;
    align-items: stretch;
}

.card-opcional{
    align-items: stretch;
    border: 2px solid var(--mainLightBlue);
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.three_dots{
    position: absolute;
    top: 10px;
    right: 20px;
    transform: rotate(90deg);
}

.price{
    gap: 15px;
    margin-bottom: 20px;
}

.border-lightBlue{
    border:1px solid #36A9E1
}