<div class="contenedor_precio1">
    <div class="box-prices mt-3">
        <div class="align-items-center d-flex justify-between justify-content-between w-100">
            <div class="d-flex align-items-baseline"><h2>250.000 </h2><small> / USD</small></div>
            <div class="yellow_circle">
                <img src="./../../../../../../../../assets/svg/Icono carrito.svg" alt="">
            </div>
        </div>
    </div>

    <p class="mt-3">*Precio variable al alcnace del proyecto</p>
    <p>*Precio expresado en USD 550 Solidario</p>

    <div class="white_boxes mt-3">
        <h1 class="text-bold">
            Página Web
        </h1>

        <p class="mt-3">La página web es diseñada y desarrollada teniendo en cuenta el usuario</p>
        <p class="mt-2">El resultado es un sitio ágil, de gran impacto visual y de fácil navegación</p>
    </div>
</div>