<article class="flex gap-4 flex-col mt-4" *ngIf="options$ | async as options">
    <div class="rounded relative px-4 py-3 border-secondary2" [ngClass]="{'bg-darkblue' : index == actual}" *ngFor="let option of options; let index = index">
        <span class="text-secondary2">OPCION {{index+1}}</span>
       
        <h4>{{option.name}}</h4>
        <h2 class="flex items-center text-yellow">
             <span class="text-sm" *ngIf="region.id==1">$</span> 
             <span class="text-sm" *ngIf="region.id!=1">USD</span> 
             {{option.price |optionals:region.solidarity_usd:region.id}}
        </h2>
    </div>

</article>