<footer style="width: 100vw;" class="fixed bottom-0  bg-secondary2 grid grid-cols-4 py-4 px-2 z-20">
  <div class="col-span-1 opacity-50" [routerLink]="['/', id]" routerLinkActive="opacity-100">
    <div class="w-full h-full flex justify-center items-center">
      <img src="assets/svg/footer/home.svg" alt="" class="h-full">
    </div>
  </div>
  <div class="col-span-1 opacity-50" [routerLink]="['/', id,'prices']" routerLinkActive="opacity-100">
    <div class="w-full h-full flex justify-center items-center">
      <img src="assets/svg/footer/pesos.svg" alt="" class="h-full">
    </div>
  </div>
  <div class="col-span-1 opacity-50" [routerLink]="['/', id,'info']" routerLinkActive="opacity-100">
    <div class="w-full h-full flex justify-center items-center">
      <img src="assets/svg/footer/info.svg" alt="" class="h-full">
    </div>
  </div>
  <div class="col-span-1 opacity-50" [routerLink]="['/', id,'questions']" routerLinkActive="opacity-100">
    <div class="w-full h-full flex justify-center items-center">
      <img src="assets/svg/footer/faq.svg" alt="" class="h-full">
    </div>
  </div>
</footer>