.background_jg_celeste{
    background: url('./../../../../../assets/images/selva_celeste_video.jpg') ;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    z-index: -1;
    background-position: center;
    bottom: 0;
    top:0;
    // filter: blur(2px);
    position: absolute;
}

.contenido_video{
    min-height: 70vh;
}

.contenido_video h1{
    font-size: clamp(1.8rem, 3vw, 4.3em);
}

.btn-yellow{
    background-color: var(--mainYellow);
    color: var(--mainBlue);
    padding: 10px 40px;
    margin: 0;
    width: fit-content;
    isolation: isolate;
}

.video{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.conten_play{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
}

.conten_play .empezado{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mainBlue);
    opacity: 1;
    color: white;
    transition: .4s ease;
}

.play{
    opacity: 1;
    animation: playpause .4s forwards;
}
.pause{
    opacity: 1;
    animation: playpause .4s forwards;
}

@keyframes playpause {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        scale: 1.05;
    }
}


.conten_play .start{
    width: 70px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--mainBlue);
    
    color: white;
}

.video video{
    height: 500px;
    border-radius: 7px;

    
}

.video-contenido{
    overflow: hidden;
    width: 333px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    position: relative;
}