.background_jg_celeste{
    background: url('./../../../../../assets/images/selva_celeste_video.jpg') ;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    z-index: -1;
    background-position: center;
    bottom: 0;
    top:0;
    // filter: blur(2px);
    position: absolute;
}

.contenido_video{
    min-height: 70vh;
}

.contenido_video h1{
    font-size: clamp(1.8rem, 3vw, 4.3em);
}

.btn-yellow{
    background-color: var(--mainYellow);
    color: var(--mainBlue);
    padding: 10px 40px;
    margin: 0;
    width: fit-content;
    isolation: isolate;
}



.conten_play{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
}

.conten_play .empezado{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mainBlue);
    opacity: 1;
    color: white;
    transition: .4s ease;
}

.play{
    opacity: 1;
    animation: playpause .4s forwards;
}
.pause{
    opacity: 1;
    animation: playpause .4s forwards;
}

@keyframes playpause {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        scale: 1.05;
    }
}


.conten_play .start{
    width: 70px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--mainBlue);
    
    color: white;
}

.filtro-pausa span mat-icon{
    transform: scale(1.3);
}

.buttonplay{
    width: 60px;
    height: 60px;
    color: #fff;
    position: relative;
    z-index: 4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    background-color: var(--mainBlue);
    opacity: 1!important;
    transition: opacity .4s;
}

.filtro_play span{
    opacity: 0;
    width: 60px;
    height: 60px;
    color: #fff;
    position: relative;
    z-index: 4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    background-color: var(--mainBlue);
    transition: .4s ease;
}
.filtro_play{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.filtro-pausa{
    background-color: #00000020;
    opacity: 1;
    transition: opacity .4s ease;
}

.filtro-pausa img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.filtro{
    height: 100%;
    width: 100%;
    
}

.video{
    height: 100%;
}

.video-contenido{
    overflow: hidden;
    width: 333px;
    height: 589px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

