<article class="card relative z-40">
  <div class="container">
    <h3>Propuesta <br>{{propuesta?.title}}</h3>
    <ng-container *ngIf="opcionesOb$ | async as opciones">
      <div *ngIf="opciones.length>1" class="flex gap-2 pt-2">
        <span *ngFor="opcion of opciones, let index = index" (click)="changeActual(index)"
          class="cursor-pointer px-2 opciones hover:opacity-60" [ngClass]="{active : index ==actual}">Opcion {{index
          +1}} </span>
      </div>
    </ng-container>
    <hr class="m-0">
    <label class="text-xl py-2 font-bold">{{actualPrice?.name}}</label>

    <h4 class="pt-1">Financiación</h4>

    <div class=" d-flex flex-column " *ngIf="actualPriceOb$ |async as actualPrice2">
      <div class="d-flex flex-column  radio-buttons" *ngFor="let item of actualPrice2?.payment_types;index as i">
        <div class="d-flex mb-1 align-items-center mt-2 radio"><span (click)="showFin(item.id)"
            class="radio_button clickeable" [ngClass]="{'radio_button_active':show == item.id}"></span><label
            class="clickeable" (click)="showFin(item.id)" for="">{{item.name}}</label></div>

        <!-- Contenido oculto -->
        <div [ngClass]="{'active acordion':show == item.id, 'inactive': show != item.id}">
          <div class="acordion_content">
            <div class="d-flex">
              <p class="number_cuota description" *ngIf="item.cuotas!=12 && item.cuotas!=0">{{item.cuotas}}</p>
            </div>
            <p class="number_cuota description" *ngIf="item.description == 'A convenir'">Financiación Propia </p>

          </div>
        </div>
      </div>


      <!-- Aumentar propuesta -->
      <ng-container>
        <div *ngIf="added.length > 0">

          <div *ngFor="let item of added" class="pt-4 relative z-20 flex items-center justify-between">
            <p>Adicional: {{item.name}}</p>
            <div class="flex items-center gap-2">
              <p>{{item.price |optionals:region.solidarity_usd:region.id}}</p>
              <span class="hover:text-[#E13636] text-grey transition-all duration-400 cursor-pointer"
                (click)="dispatchDelete(item)">

                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                    <path
                      d="M12.2297 19.7707L16.0017 16.0001M16.0017 16.0001L19.7723 12.2294M16.0017 16.0001L12.2297 12.2294M16.0017 16.0001L19.7723 19.7707M16.0003 29.3334C23.3643 29.3334 29.3337 23.3641 29.3337 16.0001C29.3337 8.63608 23.3643 2.66675 16.0003 2.66675C8.63633 2.66675 2.66699 8.63608 2.66699 16.0001C2.66699 23.3641 8.63633 29.3334 16.0003 29.3334Z"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>
              </span>

            </div>
          </div>
        </div>
      </ng-container>
      <hr class="mt-2">

      <!--  Precio   -->


      <div *ngIf="cuotas!=undefined" class="d-flex justify-content-between align-items-center">
        <h3 class="text_total">{{cuotas|cuotaspipe}} </h3>
        <div>

          <h3 class="text_total">${{precio_modificado| milespipe: region.id}} <span *ngIf="region.id!=1">USD</span>
          </h3>
        </div>
      </div>
      <div *ngIf="tasa!=undefined" class="d-flex justify-content-between align-items-center">
        <h3 class="text_total">{{tasa|tasaspipe}} </h3>
        <h3 class="text_total">${{precio_modificado| milespipe: region.id}} <span *ngIf="region.id!=1">USD</span> </h3>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <h3 class="text_total">Total </h3>
        <h3 class="precio_iva position-relative">
          ${{precio_muestra| milespipe: region.id}}
          <span *ngIf="region.id!=1">USD</span>
          <span class="iva" *ngIf="region.id==1">+IVA</span>
        </h3>
      </div>
      <div class="w-100 d-flex justify-content-end">
        <span 
        *ngIf="region.id==1"
         style="font-size: 12px; font-weight: light; bottom: -20px; right: 25px;">
        USD {{precio_modificado / region.solidarity_usd | milespipe: 2}}
        </span>
      </div>


      <hr class="mt-2">
      <div class="d-flex justify-content-end">
        <p class="aclaracion">
          *Precio variable al alcance del proyecto.
          <br>
          <span *ngIf="region.id==1">*Precio expresado en USD <span>{{region?.solidarity_usd}}</span>
            dolar tarjeta.</span>

        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="text_total">Plazos de entrega</h3>
        <h3 class="text_total">{{actualPrice?.time_lapse}}</h3>
      </div>

      <p class="aclaracion mt-2">El tiempo empieza a correr una vez recibido el pago y toda la infomación.</p>
    </div>
  </div>
</article>
<div class="flex gap-4 justify-end">
  <button class="btn-yellow " role="button" (click)="downloadAsPDF(propuesta?.title)">
    <img src="assets/svg/downloadblue.svg" alt="" srcset="">
  </button>
  <button class="btn-lightblue " role="button" (click)="showModal()">
    <img src="assets/svg/share.svg" alt="" srcset="">
  </button>
  <a *ngIf="opciones.length>1" (click)="scrollTo('comparar')" target="_blank" class="btn btn-yellow d-none d-lg-flex justify-center w-100">
    Comparar opciones

  </a>
</div>

<div class="overlay" #dialog id="overlay">

  <article class="card position-relative p-5">
    <i role="button" class="far fa-window-close position-absolute fs-3" style="top:10px; right: 10px;"
      (click)="showModal()"></i>
    <div class="row ">
      <h3>Compartí la propuesta</h3>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button [cdkCopyToClipboard]="link" #myTooltip="matTooltip" (click)="displayTooltip()" [matTooltipDisabled]="true"
        matTooltip="¡Enlace copiado exitosamente!" shareButton="link" class="btn btn-media bg-link mx-2">
        <i class="fa-solid fa-link"></i>
      </button>
      <button shareButton="facebook" class="btn btn-media bg-facebook text-white mx-2">
        <i class="fa-brands fa-facebook"></i>
      </button>
      <button shareButton="whatsapp" class="btn btn-media bg-whatsapp text-white mx-2">
        <i class="fa-brands fa-whatsapp"></i>
      </button>
      <button shareButton="telegram" class="btn btn-media bg-telegram text-white mx-2 d-flex d-md-none">
        <i class="fa-brands fa-telegram"></i>
      </button>

    </div>
  </article>
</div>

<div #dataToExport id="dataToExport">

  <app-download class="d-none" [precios]="propuesta"></app-download>
</div>