.card{
    color: #00214B;
    border-radius: 1.2rem;
}

.card .container{
    padding: 30px;
}

h3{
    font-weight: bold;
    font-size: 6vw
}

hr{
    background-color: #DEE2E6;
    color: #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
}

.aclaracion{
    color: #6C757D;
}

.radio-buttons{
    gap:10px
}

.radio-buttons input{
    margin-right: 8px;
}