.card{
    color: #00214B;
    border-radius: 1.2rem;
}

.text-green{
    color: #4CAA7D !important;
}

.card .container{
    padding: 30px;
}

h3{
    font-weight: bold;
    font-size: 6vw
}

hr{
    background-color: #DEE2E6;
    color: #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    opacity: .8;
}

.aclaracion{
    color: #6C757D;
    font-size: 13px;
}

.radio_button{
    border-radius: 50%;
    height: 15px;
    margin-right: 8px;
    width: 15px;
    border: 1px solid grey;
    transition: .2s linear all;
}

.radio{
    z-index: 99;
}

.overlay{
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 500;
    background: rgba(0, 0, 0, 0.4);
    transition: .5s ease;
}

.opciones.active{
    border-bottom: 2px solid var(--mainYellow);
    font-weight: bold;
}

.btn-media{
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    font-size: 1.7rem;
}

.radio_button_active{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;    position: relative;
    background-color: #0275d8;
    margin-right: 8px;
    border: 2px solid #0275d8;
}


.text_total{
    font-weight: 100;
    font-size: 16px;
}

.radio_button_active::after{
    content: '';
    color: white;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}

.radio-buttons input{
    margin-right: 8px;
}

.number_cuota{
    height: fit-content;
    margin: 0;
    padding-right: 4px;
}

.acordion {
    max-height: 0;
    animation: show .5s forwards;
  overflow: hidden;
  transition: max-height 5s ease;

}

.inactive{
    max-height: 40px;
    opacity: 0;
    animation: hide .5s forwards;
}

.description{
    font-size: 14px;
}

.acordion_content{
    animation: show .5s forwards;
    transform: translateY(-100%);
    z-index: -10;
}

.precio_iva{
    padding-right: 25px;
}
.precio_iva .iva{
    position: absolute;
    right: 0px;
    font-size: 10px;
    top: 0;
}

@keyframes show {
    100%{
        transform: translateY(0%);
        max-height:40px;
        transition: max-height 5s ease;
    }
}

@keyframes hide {
    99%{
        
        max-height:0;
        transform: translateY(-100%);
        opacity: 0;
        transition: max-height 5s ease;

    }
    100%{
        max-height:0;
        transform: translateY(-100%);
        opacity: 0;
        transition: max-height 5s ease;
        display: none;
    }
    
}

@media (min-width:700px) {
    h3{
        font-size: 1.75rem ;
    }
}