<div class="contenedor_precio2">
    <p class="title_price">Forma de pago y financiación</p>
    <div class="box-prices">
        <div class="align-items-center d-flex justify-between justify-content-between w-100">
            <div class="d-flex flex-column">
                <h4>12 cuotas sin interés</h4>
                <h2> {{5000 | currency}} x 12 </h2>
                <p>El tiempo empieza a correr una vez recibido el pago y toda la información</p>
            </div>
            <div class="yellow_circle">
                <img src="./../../../../../../../../assets/svg/tiempo-bluelight.svg" alt="">
            </div>
        </div>
    </div>
    <div class="box-prices mt-3 "></div>
    <div class="box-prices mt-3 "></div>
    <div class="mt-3 white_boxes">
        Precios expresados en dólares americanos. <br>
        El trabajo se abona en pesos argentinos. <br>
        Al momento del pago se toma la cotización del dólar solidario expresado por el Banco de la Nación Argentina.
    </div>
</div>