.bg-blue{
    background: var(--mainBlue);
    width: 100%;
    padding: 7vh 0
}

.flecha{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 8px;
}

.title_serv{
    color: var(--mainLightBlue);
    margin: 0;
    font-size: 3.5rem;
}

.container{
    padding: 0 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:1200px) {
    .container{
        padding: 0;
    }
}