.bg-blue{
    background: var(--mainBlue);
    width: 100%;
    min-height: 100vh;
}

.flecha{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 8px;
}

.title_serv{
    color: var(--mainLightBlue);
    margin: 0;
    font-size: 3.5rem;
}

.container{
    padding: 50px 5rem 0 5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}