.bg-blue{
    background-color: var(--mainBlue);
    height: 100%;
    min-height: 100vh;
}

.image_con{
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.image_con img{
    position: relative;
    width: auto;
    height: calc(20vh + 15vw);
    border-radius: 6px;
}

.text_img{
    background-color: #001836;
    position: absolute;
    left: 53vw;
    border-radius: 6px;
    
    min-height: calc(27vh + 22vw);
    width: calc(20vh + 20vw);
    border: solid 1px var(--mainLightBlue);
    padding: 2rem;
}
.title_pagina{
    color: #36A9E1;
    font-size: 3rem;
    margin: 0;
}

.text_img .flecha{
    height: 2rem;
}

.title{
    gap: 15px;
}
.relative .three_dots{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(90deg);
    top: -2rem;
    right: -1.3rem;
}

.relative{
    position: relative;
}

.bg-lightblue{
    padding: 0.4rem 1.3rem;
}

.bg-lightblue img{
    width: 1rem;
    height: 1rem;
}