<div class="contenedor_precio3">
    <div class="box-prices mt-5">
        <div class="align-items-center d-flex justify-between justify-content-between w-100">
            <div class="d-flex flex-column">
                <h2>3 a 5 semanas </h2>
                <p>El tiempo empieza a correr una vez recibido el pago y toda la información</p>
            </div>
            <div class="yellow_circle">
                <img src="./../../../../../../../../assets/svg/tiempo-bluelight.svg" alt="">
            </div>
        </div>
    </div>
</div>