<section class="mobile d-flex flex-column">

    <app-navbar-mobile [title]="title" ></app-navbar-mobile>
    <div class="home-container">
        
        <div class=" bg-img"></div>
    
    
        <div class="blue d-flex flex-column">
            <div class="d-flex align-items-center contenido_optional mt-3">
                <div class="celeste_circle">
                    <img src="./../../../../../../../assets/svg/icono_plus.svg" alt="">
                </div>
                <h3>Agranda tu combo</h3>
            </div>
            <div class="mt-4 contenido d-flex flex-column" >
                <div *ngFor="let item of cards; index as index" [ngClass]="{'bg-bluesecondary':index%2!=0}"  (click)="navigateTo('option', item.image, item.name, item.description)" class="box-prices mt-2">
                    <div class="d-flex flex-column w-100">
                        <p>{{item.subname}}</p>
                        <div class="d-flex"><h2 class="mt-2">{{item.name}}</h2>
                        <img *ngIf="item.star" src="./../../../../../../assets/svg/star.svg" alt="">
                        </div>
                        
                        <h2>{{item.price | optionals:propuesta?.solidarity_usd :propuesta?.clients.regions_id}} </h2> 
                        <div class="d-flex justify-content-between w-100 align-items-baseline">
                            <small class="mt-2">Me interesa ¿en que consiste?</small>
                            <mat-icon>chevron_right</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer-mobile></app-footer-mobile>
        </div>
    
    
    </div>
</section>
<div class="pc">
    <app-not-found></app-not-found>
</div>