<div class="contenido_slider">
    <div class="row" (mouseover)="stopInterval()" (mouseout)="playInterval()">
        <div class="align-items-center col-6 d-flex " (mouseover)="stopInterval()" >
            <div (mouseover)="stopInterval()"  class="img_cont w-100">
                <img [src]="works[span_n].image" alt="">
            
            </div>  
            <img (click)="chevronClick('left')" src="assets/svg/chevron-left.svg" alt="" class="change left clickeable">
            
        </div>
        <div class="col-6 d-flex flex-column " (mouseover)="stopInterval()" >
            <img (click)="chevronClick('right')" src="assets/svg/chevron-right.svg" alt="" class="change right clickeable">
            
            <div (mouseover)="stopInterval()"  class="contenido">
                <app-titulo (mouseover)="stopInterval()"  [title]="title"></app-titulo>
                <h3 (mouseover)="stopInterval()"  class="text-yellow">{{span_n+1}}. {{works[span_n].title}} </h3>
                <!-- <h2 class="cliente">Cliente: {{works[span_n].cliente}} </h2> -->
                
                <p (mouseover)="stopInterval()"  class="w-75" [innerHTML]="works[span_n].description"></p>

                <a (mouseover)="stopInterval()"  href="{{works[span_n].url}}" target="_blank" class="text-yellow text-yellow-a">{{works[span_n].url | urltopage}}</a>

                <div (mouseover)="stopInterval()"  class=" d-flex caracteristicas flex-wrap">
                    <p *ngFor="let caracteristica of works[span_n].caracteristicas" class="caract">{{caracteristica}}</p>
                    
                </div> 

            </div>
            
        </div>
    </div>
    
</div>
<div class="w-100 d-flex flex-column align-items-center bg-blue">
    <div class="bullets w-100 d-flex justify-content-center">
        <span *ngFor="let item of works; index as index" class="clickeable" (click)="changeActive(index)" [ngClass]="{'span_active':span_n == index}"></span>
    </div>
    <button class="btn btn-outline br-rounded">
        Ver Otros Proyectos
    </button>
</div>