<section class="mobile d-flex flex-column">
    <app-navbar-mobile [title]="title" [subtitle]="subtitle"></app-navbar-mobile>
    <div class="home-container d-flex flex-column">
        
        <div class="bg-img"></div>
        
    
        <div class="blue d-flex flex-column">
            <div class="contenido_question">
                <div *ngFor="let item of questions;index as index" class="d-flex flex-column">
                    <div (click)="open(index)" class="d-flex justify-content-between p-3">
                        
                        <div class="item" >{{item?.question}}</div>
                        <div><img  src="./../../../../../../assets/svg/circle_plus.svg" alt=""></div>
                    </div>
                    <div class="paragraph-item" *ngIf="item_number == index" [innerHTML]="item?.response">
                        
                       
                    </div>
                </div>
            </div>
            <app-footer-mobile></app-footer-mobile>
        </div>
    
    
    </div>

</section>

<div class="pc">
    <app-not-found></app-not-found>
</div>