

.bg-img{
    background: url('./../../../../../../assets/images/imagen-portada.png') ;
    height: 45vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
 }

.blue{
    margin-top: 20vh;
    min-height: 100vh;
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding-top: 5vh;
    z-index: 10;
    color: black;
    background: var(--mainBlue);
}

app-footer-mobile{
    position: absolute;
    bottom: -30vh;
    z-index: 22;
    width: 100% ;
}

.menu_prices{
    display: flex;
    width: 100%;
    padding: 0 5vw;
    
}

.menu_prices ul{
    display: flex;
    
    width: 100%;
    padding-inline-start: 0;
    font-size: 4.5vw;
    margin-left: 0;
    justify-content: space-between;
    list-style: none;
}

.menu_prices ul li{
    color:#ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: .5s ease;
}

i{
    width: 5vw;
    height: 5vw;
    justify-content: center;
    margin-right: 5px;
    display: flex;
}



.active{
    color: var(--mainLightBlue) !important;
    line-height: 1.9;
    border-bottom: 2px solid var(--mainYellow);
    
}



.price-content{
    color: #ffffff;
    padding: 0 5vw;
}