
<div class="home-container">
    <app-navbar-mobile [title]="title" [subtitle]="subtitle"></app-navbar-mobile>
    <div class="mobile bg-img"></div>


    <div class="blue">
        <div class="container">
            <div class="d-flex align-items-center saludo" >
                <img src="assets/svg/mano_chimpa.svg" alt="">
                <h3>Hola!</h3>
            </div>
            <h3 class="cliente">Cinergia Estudio Creativo</h3>
            <app-card-price></app-card-price>

        </div>
        
        
    </div>
    

</div>
<app-footer-mobile></app-footer-mobile>

