<div class="bg-blue">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">

      <h3 class="text text-lighblue ">
        Agranda tu combo
      </h3>



      <p class="text text-white paragraph-white">Más de 70% de las visitas al sitio web son desde celulares. Entonces, ¿por qué no
        hacemos un diseño exclusivo para estos dispositivos?.
      </p>

    </div>

    <div class="row menu">
        <div class="col d-flex justify-content-center">
            <h4 class=" text-white clickeable active">UX/UI Mobile</h4>
        </div>
        <div class="col d-flex justify-content-center">
            <h4 class=" text-white clickeable">UX/UI Writing</h4>
        </div>
        <div class="col d-flex justify-content-center">
            <h4 class=" text-white clickeable">Hosting</h4>
        </div>
        
    </div>
    <app-menuitems></app-menuitems>
  </div>
</div>  