<div class="bg-blue">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">

      <h3 class="text text-lighblue ">
        Agranda tu combo
      </h3>



      <p class="text text-white paragraph-white">Más de 70% de las visitas al sitio web son desde celulares. Entonces, ¿por qué no
        hacemos un diseño exclusivo para estos dispositivos?.
      </p>

      
    </div>

    <div class="d-flex justify-content-center menu">
        <div class="px-5" *ngFor="let item of services; let i = index">
            <h4 class="text-white clickeable " [ngClass]="{'active': i == n_active}" (click)="changeActive(i)">{{item.name}}</h4>
        </div>
        
        
        
    </div>
    <app-menuitems [combos]="servicio"></app-menuitems>
  </div>
</div>  