.bg-blue{
    background: var(--mainBlue);
    min-height: 100vh;
    color: #fff;
    padding: 15vh;
}


.img_container{
    height: 70px;
    width: 70px;
}

.img_container img{
    width: 60%;
}

.white_boxes p{
    font-size: 1rem;
}