<div class="mobile bg-img"></div>
<app-navbarpc></app-navbarpc>
<app-mobile-home class="mobile"></app-mobile-home>
<div class="pc" >
    <app-section1></app-section1>
    <app-section2></app-section2>
    <app-section3></app-section3>
    <app-section4></app-section4>
    <app-section5></app-section5>
    <app-section6></app-section6>
    <app-section7></app-section7>
    <app-section8></app-section8>
    <app-section9></app-section9>
    <app-section10></app-section10>
    <app-section11></app-section11>
    <app-section12></app-section12>
    
</div>
<footer  class="bgblue position-relative pc">
    <img class="piso" src="assets/images/timer_piso.png" alt="">
    <div class="container footer">
        
        <div class="d-flex justify-content-center flex-column align-items-center p-4 footer">
            <img src="assets/images/logo_chimpa_footer.png" alt="">
            <div class="d-flex gap-2 p-3">
                <img src="assets/svg/location_icon.png" style="height: 20px;" alt="">
                <p>Velez Sarsfierld 576, Córdoba, Argentina </p>
            </div>
        </div>  
        
    </div>
</footer>