.mobile{
    display: none;
}

@media (max-width: 1000px) {
    .mobile{
        display: inline;
        width: 100%;
    }
    app-navbarpc{
        display: none;

    }
    .pc{
        display: none;
    }
}

.bg-img{
   background: url('./../../../../assets/images/imagen-portada.png') ;
   height: 45vh;
   width: 100%;
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
}

.bgblue{
    position: relative;
    background: var(--mainBlue);
    color: var(--mainLightBlue);
}
.piso{
    bottom: 0;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
    
}

.footer{
    z-index: 10;
    min-height: 20rem;
}

.text-lightblue a,
.text-lightblue a svg path{
    fill: var(--mainLightBlue);
    transition: .4s ease;
}


.text-lightblue a:hover svg path
{
    fill: #fff;
    
}

.text-lightblue a svg,.text-lightblue a svg path{
    position: relative;
    width: 20px;
    height: 20px;
}