/* You can add global styles to this file, and also import other style files */
*{
    --mainBlue:#00214B;
    --mainYellow: #FDDB00;
    --mainLightBlue: #36A9E1;
    --mainWhite: #ffffff;
    --secondary: #136891;
}

@import './assets/fonts/Circular/stylesheet.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'CircularStd' !important; font-weight: 200!important;}

.bg-lightblue{
    background: var(--mainLightBlue)!important;
}


.bg-darkblue{
    background: #001836;
}
.white_boxes{
    padding: 1rem 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    width: 100%;
    min-height: 80px;
    font-size: 3.4vw;
}
.box-prices{
    background: var(--mainLightBlue);
    padding: 1.2rem;
    border-radius: 1.25rem;
    width: 100%;
    min-height: 80px;
    display: flex;
    
}

.yellow_circle{
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background: var(--mainYellow);
}

.clickeable{
    cursor: pointer;
}

.btn-yellow{
    background: var(--mainYellow);
    color: var(--mainBlue);
    border-radius: .5rem;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    margin-top: 12px;
    text-shadow: 0 1px 2px solid var(--mainBlue);
}

.celeste_circle{
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background: var(--mainLightBlue);
}

.bg-bluesecondary{
    background-color: var(--secondary)!important;
}
.text-yellow{
    color: var(--mainYellow);
}

.jng_background{
    background: url('./assets/images/jungle_fondo.png') ;
    
    width: 100%;
    min-width: 100%;
    height: 30vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -25vh;
    z-index: 1;
   
}