<app-navbar-mobile [title]="title" ></app-navbar-mobile>
<div class="home-container">
    
    <div class="mobile bg-img"></div>


    <div class="blue">
        <div class="menu-info Flipped">
            <div class="menu Content">
                <ul>
                    
                    <li (click)="navigate(item.number)" [ngClass]="{'active2': internal_navigation === item.number}"  *ngFor = "let item of rutas" >
                        {{item.name}}
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="contenido_info">
            
            <app-info1 *ngIf="internal_navigation==1"></app-info1>
            <app-info2 *ngIf="internal_navigation==2"></app-info2>
            <app-info3 *ngIf="internal_navigation==3"></app-info3>
        </div>
    </div>


</div>
<app-footer-mobile></app-footer-mobile>