.home-container{
   height: 100%;
   background: var(--mainBlue);
}

.bg-img{
    background: url('./../../../../../../assets/images/imagen-portada.png') ;
    height: 45vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 0;
 }

 .blue{ 
    margin-top: 20vh;
    
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 15vh;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: var(--mainBlue);

    position: relative;
}

app-footer-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    
    width: 100% ;
}

app-navbar-mobile{
    
    top:0;
    position: absolute;
    width: 100%;
}



.menu-info{
    
    overflow-x: scroll;
    margin: 0 5vw;
}




.menu-info::-webkit-scrollbar{
    background: #785cf50e;
    height: 6px;
    border-radius: 20px;
}

.menu-info::-webkit-scrollbar-thumb{
    height: 5px;
    border-left:  10px solid #785cf50e;
    border-right:  10px solid #785cf50e;
    border-radius: 20px;
    background: var(--mainYellow);
}

.Flipped, .Flipped .Content
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.menu ul{
    
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
    padding: 7px;
    
}



.menu ul li{
    margin-right: 7vh;
    padding: 0 2vw;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    white-space: nowrap;
    font-size: clamp(1rem, 4vw, 3rem);
}

.contenido_info{
    margin: 0 5vw;
    padding:5vw;
  
}

.active2{
    border-bottom: 2px solid var(--mainYellow);
}

ul li a{
    color: #ffffff;
    border: none;
}

.mobile{
    height: 100%;
   background: var(--mainBlue); 
}

.pc{
    display: none;
}

@media (min-width:1001px) {
    .pc{
        display: block;
    }
    .mobile{
        display: none;
    }
}