<section class="position-relative h-100">
    <app-navbar-mobile ></app-navbar-mobile>
    <div class="video-cont position-absolute">
        <video autoplay src="assets/videos/videocotizador.mp4"></video>
    </div>
    <div class="bg-blue">
        <a style="text-decoration: none;" target="_blank" href="https://api.whatsapp.com/send?phone=+5493516503470&text=Buenos%20d%C3%ADas,%20quiero%20mas%20info%20sobre%20desarrollo%20web">
            <h2 class="text-center px-2 text-white">
                ¿Necesitas evolucionar en la jungla digital?
            </h2>
            <div class="align-items-center comenza-nosotros d-flex mt-4 px-4">
                <img src="assets/svg/comenza_mobile.svg" class="px-2" alt="">
                <span class="fw-bold fs-3">Comenzá ahora</span>
            </div>
        </a>
    </div>
    <app-footer-mobile></app-footer-mobile>
</section>