
@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Light.otf');
            
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Medium.otf');
            
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-Bold.otf');
            
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: 'CircularStd';
    src: url('CircularStd-BoldItalic.otf');
    
    font-weight: 900;
    font-style: italic;
}




